/*-- scss:defaults --*/

$body-bg: #FAFAFA;
$body-color: #1C1C2B;
$presentation-heading-color: #377EB8;
$link-color: #984EA3;
$code-color: #4DAF4A;
$code-block-bg:#ededed;
$headingFontWeight: bold;
$code-block-font-size: 24pt;

$heading1Size: 48pt;
$heading2Size: 32pt;
$heading3Size: 28pt;
$heading4Size: 18pt;

.reveal section h1 {
  color: #1C1C2B;
}

.reveal .panel-tabset .tab-content{
    font-size: 24pt !important;
}

.reveal section p {
    font-size: 24pt !important;
}

.reveal p {
    font-size: 24pt !important;
}

.reveal section div {
    font-size: 24pt !important;
}

.reveal section pre code {
    font-size: 18pt !important;
    background-color: #ededed;
}


/*-- scss:rules --*/