/*-- scss:defaults --*/

$body-bg: #FAFAFA;
$body-color: #1C1C2B;
$presentation-heading-color: #377EB8;
$link-color: #984EA3;
$code-color: #4DAF4A;
$code-block-bg:#ededed;
$headingFontWeight: bold;
$code-block-font-size: .45em;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.reveal section h1 {
  color: #1C1C2B;
}

.reveal .panel-tabset .tab-content{
    font-size: .55em !important;
}

.reveal section p {
    font-size: 1.2em !important;
}

.reveal p {
    font-size: 1.2em !important;
}

.reveal section div {
    font-size: 1.2em !important;
}

.reveal section pre code {
    font-size: 1.2em !important;
    background-color: #ededed;
}


/*-- scss:rules --*/